body{
  margin:0;
  padding:0
}

#outer{
  margin:0;
  padding:0;
  margin-bottom:100px;
  padding-bottom:100px
}

h1{
  font-family:Trebuchet MS;
  font-weight:lighter;
  text-align: center;
  color:rgb(41,87,140);
  font-size:40;
}

#content{
  margin-bottom:100px;
  margin-top:100px;
  padding-bottom:100px
}

#header{
  font-family:Trebuchet MS;
  width:60%;
  padding-left:20%;
  padding-right:20%;
  text-align:center;
  margin-top:2%;
  margin-bottom:2%
}

.coverphoto{
  width:50%;
  padding-right:25%;
  padding-left:25%;
  padding-top:10%;
  padding-bottom:10%
}

#dp{
  width:25%;
  height:775px;
  float: left;
  border-radius:3px;
  background-color:#E5F0F1;
  overflow-y:auto;
  overflow-x:hidden;
  margin-left:6%;
}
.n1{
  text-align: center;
  font-family: Trebuchet MS;
  color:rgb(41,87,140)
}

.text{
  font-family:Trebuchet MS;
  padding:5%;
}
#l{
  font-weight: lighter;
  font-size: 15px;
}
#ds{
  width:25%;
  height:775px;
  float: left;
  border-radius:3px;
  background-color:#E5F0F1;
  overflow-y:auto;
  overflow-x:hidden;
  margin-left:6%;
}

#s{
  font-weight: lighter;
  font-size: 15px;
}

#am{
  width:25%;
  height:775px;
  float: left;
  border-radius:3px;
  background-color:#E5F0F1;
  overflow-y:auto;
  overflow-x:hidden;
  margin-left:6%;
}
.n3{
  text-align: center;
  margin:0px 0px -5px 0px;
  font-family: Trebuchet Ms;
}

.contact{
  width:100%;
  font-family:Trebuchet MS;
  height:45px;
  background-color:rgb(41,87,140);
  text-align:center;
  padding-top:25px;
}

a:hover{
  cursor:pointer
}

.contact a{color:white;}
