#firstproblem h2{
  font-family:Trebuchet MS;
  font-style:normal;
  float:left;
  padding-left: 40px;
  width:100%;
  height:10px;
  color:rgb(41, 87, 140);
}

#firstproblem{
  font-size:20px;
  height: 400px;
  margin: 0;
}

#firstproblem p{
  font-family:Trebuchet MS;
  padding-left: 40px;
  width: 50%;
  font-style:normal;
  height:150px;
  float:left;
}

#firstproblem img{
  width: 40%;
  margin: 0;
  padding-left: 50px;
}

#secondproblem{
  clear:both;
  width:100%;
  height:400px;
  background-color:#E5F0F1;
  margin: 0;
}

#secondproblem p{
  font-family:Trebuchet MS;
  margin-right: 5%;
  width: 50%;
  font-style:normal;
  height:150px;
  float:right;
}

#secondproblem h2{
  font-family:Trebuchet MS;
  font-style:normal;
  float:right;
  margin-right: 5%;
  width:50%;
  height:10px;
  color:rgb(41, 87, 140);
}

#secondproblem img{
  width: 40%;
  margin: 0;
  padding-top: 50px;
  padding-left: 40px;
}

#thirdproblem h2{
  font-family:Trebuchet MS;
  font-style:normal;
  float:left;
  padding-left: 40px;
  width:100%;
  height:10px;
  color:rgb(41, 87, 140);
}

#thirdproblem{
  height: 400px;
  margin: 0;
}

#thirdproblem p{
  font-family:Trebuchet MS;
  padding-left: 40px;
  width: 50%;
  font-style:normal;
  height:150px;
  float:left;
}

#thirdproblem img{
  width: 40%;
  margin: 0;
  padding-left: 50px;
}

#firstproblem, #secondproblem, #thirdproblem{
  width:100%;
  margin-top:1%;
}

#photo{
  width:100%;
  max-height: 500;
  padding:0;
  margin:0;
}

#title{
  font-family:Trebuchet MS;
  font-style: normal;
  position: absolute;
  top:40%;
  left:30%;
  right:30%;
  font-size: 40pt;
  text-align:center;
  color:white;
}
#coverphoto{
  width:100%;
  max-height:500px;
  padding:0;
  margin:0;
}
