#photo{
  width:100%;
  max-height: 500px;
  padding:0;
  margin:0;
}

#title{
  font-family:Trebuchet MS;
  font-style: normal;
  position: absolute;
  top:10%;
  left:35%;
  right:35%;
  font-size: 40pt;
  text-align:center;
  color:rgb(41, 87, 140);
}
#coverphoto{
  width:100%;
  max-height:500px;
  padding:0;
  margin:0;
}
body{
  padding:0;
  margin:0;
}

#body1, #body2, #body3{
  width:100%;
  margin-top:1%;
}

#body1 h2{
  font-family:Trebuchet MS;
  font-style:normal;
  float:left;
  padding-left: 40px;
  width:50%;
  height:10px;
  color:rgb(41, 87, 140);
}

#body1{
  height: 400px;
  margin: 0;
}

#body1 p{
  font-family:Trebuchet MS;
  padding-left: 40px;
  width: 50%;
  font-style:normal;
  height:150px;
  float:left;
  font-size: 14pt;
  line-height: 20pt
}

#body1 img{
  width: 40%;
  height: 300px;
  margin: 0;
  padding-left: 50px;
  padding-bottom: 40px
}

#body2{
  clear:both;
  width:100%;
  height:500px;
  background-color:#E5F0F1;
  margin: 0;
}

#body2 p{
  font-family:Trebuchet MS;
  width: 50%;
  font-style:normal;
  height:100px;
}

#body2 h2{
  font-family:Trebuchet MS;
  font-style:normal;
  margin-right: 5%;
  width:40%;
  height:10px;
  color:rgb(41, 87, 140);
}

#body2 img{
  float: left;
  width: 40%;
  margin: 0;
  padding-top: 60px;
  padding-left: 40px;
}

#body3 h2{
  font-family:Trebuchet MS;
  font-style:normal;
  float:left;
  padding-left: 40px;
  width:50%;
  height:10px;
  color:rgb(41, 87, 140);
}

#body3{
  height: 400px;
  margin: 0;
}

#body3 p{
  font-family:Trebuchet MS;
  padding-left: 40px;
  width: 50%;
  font-style:normal;
  height:100px;
  font-size: 14pt;
  line-height: 20pt
}

#body3 ul{
  font-family:Trebuchet MS;
  padding-left: 50px;
  width: 50%;
  font-style:normal;
  height:150px;
  font-size: 14pt;
  line-height: 20pt
}

#body3 img{
  width: 40%;
  height: 300px;
  margin: 0;
  padding-right: 40px;
  padding-top: 40px;
  float: right;
}
