#photo{
  width:100%;
  max-height: 500;
  padding:0;
  margin:0;
}

#title{
  font-family:Trebuchet MS;
  font-style: normal;
  position: absolute;
  top:30%;
  left:40%;
  right:40%;
  font-size: 40pt;
  text-align:center;
  color:white;
}
#coverphoto{
  width:100%;
  max-height:500px;
  padding:0;
  margin:0;
}
body{
  padding:0;
  margin:0;
}



#mission h2{
  font-family:Trebuchet MS;
  font-style:normal;
  margin-left: 20%;
  float:left;
  width:20%;
  text-align:center;
  height:150px;
  color:rgb(41, 87, 140);
}
#mission p{
  font-family:Trebuchet MS;
  font-style:normal;
  margin-right:20%;
  height:150px
}

#mission{
  padding-top: 5%;
}

#firstsolution {
  font-family:Trebuchet MS;
  font-style:normal;
  margin-left: 10%;
  float:left;
  width:20%;
  text-align:center;
  height:0px;
  clear:both;
}

#firstsolution img {
  width: 20%;
}

#secondsolution {
  font-family:Trebuchet MS;
  font-style:normal;
  margin-left: 40%;
  float:left;
  width:20%;
  text-align:center;
  clear:both;
}

#secondsolution img{
  width:20%;
  height: 60px;
}

#thirdsolution {
  font-family:Trebuchet MS;
  font-style:normal;
  margin-left: 70%;
  width:20%;
  text-align:center;
}

#thirdsolution img{
  width:20%
}

#solutions {
  padding-top:100px;
  width:100%;
  height:350px;
  background-color: #E5F0F1;
  margin:0;
}

h2 {
  color:rgb(41, 87, 140)
}
